.cabezera{
   font-family: cursive;
   font-size: 2.6rem;
   background-color:aqua;
   border-radius: 10px;
   border: 3px solid black;
}

.mediumone{
    background-color: aqua;
    border-radius: 10px;
    border: 5px solid white;
    height: 400px;


}

.mediumtwo{
    background-color: pink;
    border-radius: 10px;
    border: 5px solid white;
    height: 400px;
    opacity: 0.8;
}



