body{
    background-color: pink;
}



header{
    height: 80px;
    width: 98%;
    margin: auto;
    background-color: aqua;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;   
    margin-top: 5px; 
}

header h1{
   font-family: cursive;
   font-size: 2.6rem;
}

section{
    height: 420px;
    width: 98%;
    margin: auto;
    background-color: aqua;
    border-radius: 10px;  
}


footer{
    width: 98%;
    margin: auto;
}

@media only screen and (max-width: 320px) {
    section #movil{
        width: 94%;
        font-size: 1rem;
        margin: auto;
    }
    header h1{
        font-size: 1rem;
    }

    footer div h5{
        font-size: 1rem;
    }

    footer div a{
        font-size: 1rem;
    }
    section{
        height: 450px;
    }
    
}

@media only screen and (min-width: 720px) {
    section #movil{
        margin-left: 48px;
    }
    
}