body{
    background-image: url('depre.jpg');
}

.cabezera{
   font-family: cursive;
   font-size: 2.6rem;
   background-color:aqua;
   border-radius: 10px;
   border: 3px solid black;
}

.mediumone{
    background-color: aqua;
    border-radius: 10px;
    border: 5px solid white;
    height: 420px;
    opacity: 0.93;
}

.mediumtwo{
    background-color: pink;
    border-radius: 10px;
    border: 5px solid white;
    height: 420px;
    opacity: 0.8;
}

@media (width > 575px) and (width < 768px) { 
    ul li h5{
        font-size: 11px;
    }
}

@media (width > 768px) and (width < 992px) { 
    ul li h5{
        font-size: 1rem;
    }
}

@media (width < 576px) { 
    ul li h5{
        margin-top: 13px;
    }
    .mediumone{
        opacity: 1;
    }
    .mediumtwo{
        opacity: 1;
    }
}




